.Navigation {
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    min-height: 50px;
}
ul {
    color: red;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
}