.Navigation {
    width: auto;
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    min-height: 50px;
    margin: 10px;
}
ul {
    font-size: 1.5rem;
    color: blue;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
}