.App {
  text-align: center;
}
.Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: grey;
  margin-top: 5px;
  padding: 10px;
}



.Counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}